.env
__pycache__/app_refactored.cpython-312.pyc
build/Vix/Analysis-00.toc
build/Vix/base_library.zip
build/Vix/EXE-00.toc
build/Vix/localpycs/pyimod01_archive.pyc
build/Vix/localpycs/pyimod02_importers.pyc
build/Vix/localpycs/pyimod03_ctypes.pyc
build/Vix/localpycs/pyimod04_pywin32.pyc
build/Vix/localpycs/struct.pyc
build/Vix/PKG-00.toc
build/Vix/PYZ-00.pyz
build/Vix/PYZ-00.toc
build/Vix/Vix.pkg
build/Vix/warn-Vix.txt
build/Vix/xref-Vix.html
dist/Vix.exe
Vix.spec
